<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
  </head>
  <body>
    <h1>Dashboard</h1>
    <h1>Welcome <%= username %></h1>

    <h3>Email: <%= userEmail %></h3>
    <p>Login Successful</p>
    <a href="/user/login">Login</a>
    <a href="/user/logout"> Logout </a>
  </body>
</html>
